#main_Home{
    margin-top: 294px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #020913;
}

#header_Home{
    width: 341px;
    padding: 35px 10px 0px 10px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: .5s ease-out ;
    /* background-color: grey; */
    background-color: #020913;
    /* border: 2px solid white; */
}

.search_bar{
    display: flex;
}

.search_bar span{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 10px;

    
    background-color: #0A121E;
}

.notification_div{
    width: 40px;
    height: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.faculdade_bar{
    height: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.faculdade_bar h1{
    font-size: 20px;
    padding-left: 8px;
}
